<!DOCTYPE html>
<html>

<head>
	<title>
		SiwCalcio - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header class="top-banner">
		<div class="banner-logo">
			<a href="/"><img src="/images/logo-siw.png" alt="Calcio Analytics" /></a>
		</div>
		<div class="banner-auth">
			<div th:if="${userDetails != null}">
				<span th:text="${loggedUsername}" class="username-display"></span>
				<form th:action="@{/logout}" method="POST" style="display:inline;">
					<button type="submit" class="btn-logout">Logout</button>
				</form>
			</div>
			<div th:unless="${userDetails != null}">
				<a href="/login"><button type="button" class="btn-login">Login</button></a>
			</div>
		</div>
	</header>


	<h1>Home</h1>

	<div style="display: flex; gap: 20px; margin-bottom: 20px;">
		<div class="home-card" style="margin: 0; width: calc(50% - 10px);">
			<a href="/tournaments">
				<span style="font-size: 46px; margin-bottom: 12px;">🏆</span>
				<span>Tornei</span>
			</a>
		</div>
		<div class="home-card" style="margin: 0; width: calc(50% - 10px);">
			<a href="/teams">
				<span style="font-size: 46px; margin-bottom: 12px;">🛡️</span>
				<span>Squadre</span>
			</a>
		</div>
	</div>
	<div style="display: flex; gap: 20px; justify-content: center;">
		<div class="home-card" style="margin: 0; width: calc(33.333% - 13.33px);">
			<a href="/matches">
				<span style="font-size: 46px; margin-bottom: 12px;">⚽</span>
				<span>Partite</span>
			</a>
		</div>
		<div class="home-card" style="margin: 0; width: calc(33.333% - 13.33px);">
			<a href="/players">
				<span style="font-size: 46px; margin-bottom: 12px;">🏃‍♂️</span>
				<span>Giocatori</span>
			</a>
		</div>
		<div class="home-card" style="margin: 0; width: calc(33.333% - 13.33px);">
			<a href="/referees/react">
				<span style="font-size: 46px; margin-bottom: 12px;">🟨🟥</span>
				<span>Arbitri</span>
			</a>
		</div>
	</div>




</body>

</html>