<!DOCTYPE html>
<html>

<head>
	<title>
		SiwCalcio - Registrazione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header class="top-banner">
		<div class="banner-logo">
			<a href="/"><img src="/images/logo-siw.png" alt="Calcio Analytics" /></a>
		</div>
		<div class="banner-auth">
			<div th:if="${userDetails != null}">
				<span th:text="${userDetails.username}" class="username-display"></span>
				<form th:action="@{/logout}" method="POST" style="display:inline;">
					<button type="submit" class="btn-logout">Logout</button>
				</form>
			</div>
			<div th:unless="${userDetails != null}">
				<a href="/login"><button type="button" class="btn-login">Login</button></a>
			</div>
		</div>
	</header>
	

	
	<h1>Registrazione nuovo utente</h1>
	<form th:action="@{/register}" method="POST">
		<div>
			<label>Nome</label>
			<span><input type="text" placeholder="name" required th:field="${user.name}" /></span>
			<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" placeholder="surname" required th:field="${user.surname}" /></span>
			<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'">
			</span>
		</div>

		<div>
			<label>Username</label>
			<span>
				<input type="text" placeholder="username" required th:field="${credentials.username}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" placeholder="password" required th:field="${credentials.password}" />
			</span>
			<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<button type="submit">Registra</button>
		</div>
	</form>
</body>

</html>